<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Signup</title>
    <link rel="stylesheet" href="/css/subadminsign.css">
</head>
<body>
    <div class="container">
  
  <div class="left">
    <h1>Sign Up</h1>
    <p>create a new account</p>
    
    <form action="/admin/register" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
      
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      
      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm" id="confirm">
      
          
      <button class="button" type="submit">Signup</button>
    </form>
      
      
  </div>
  
  
</div>
</body>
</html>