<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <link rel="stylesheet" href="/css/fail.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content">
        <div class="card">
        <h5 class="card-header">Payment failed</h5>

        <div class="card-body">
            <p class="card-text">Please try after sometime or try another payment method</p>


    </div>
    </div>
</div>
</div>
</body>
</html>