<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Baja Barat</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/lightslider.css">
    <script type="text/javascript" src="/js/Jquery.js"></script>
    <script type="text/javascript" src="/js/lightslider.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
</head>
</head>
<body>
    <section class="navigation sticky">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">BandBajaBarat</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about-us">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="navbar-dropdown">
            <li>
              <a href="/Cars">Cars</a>
            </li>
            <li>
              <a href="/services">Dj</a>
            </li>
            <li>
              <a href="#our-services">More</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="#quick-links">Quick Links</a>
        </li>
        <li>
          <a href="#!">Login</a>
          <ul class="navbar-dropdown">
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/register">Register</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>
    
    <section id="home">
        <div class="slider">
            <div class="slide current">
                <div class="content">
                    <h1>DJ Booking</h1>
                    <p>Music for all ages from all decades: EDM, hip hop, Latin (cumbias, salsa, merengue, etc.), Jewish, house, club, rock, reggae, R&B, mash-ups, more!</p>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Guest house & resort</h1>
                    <p>"We don't want to push our ideas on to customers, we simply want to make what they want." Laura Ashley</p>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Car Booking</h1>
                    <p>I'd rather drive the yellow brick road, you wouldn't happen to know of a rental car place around.</p>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Road light</h1>
                    <p>“Learn to light a candle in the darkest moments of someone’s life. Be the light that helps others see; it is what gives life its deepest significance.”</p>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Flower Dacoration</h1>
                    <p>“If you look the right way, you can see that the whole world is a garden.”– Frances Hodgson Burnett</p>
                </div>
            </div>
            <div class="slide">
                <div class="content">
                    <h1>Band & Bhangra</h1>
                    <p>If movements were a spark every dancer would desire to light up in flames.</p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fa fa-arrow-left"></i></button>
            <button id="next"><i class="fa fa-arrow-right"></i></button>
        </div>
    </section>
    <section id="about-us" class="about-us">
        <div class="container">
            <div class="section-heading">
                <h1>About Us</h1>
            </div>
            <div class="img">
                    <img src="/images/img2.jpg" alt="">
            </div>
            <div class="content">
                <div class="article">
                    <h3>BandBajaBarat is an online event management site.</h3>
                    <p>
                       BandBajaBarat is an opportunity to all the Djs, Guest house, Resorts, Road light, 
                       Bhangra and beauty Parlour shops. As well as for users to save their time on travelling door to door to manage their family functions like marriage, receptions etc. All you have to do is just Sing up.
                    </p>
                    <p>For the vendors to add their shop, Click on the button "Partner with us". And fill out the form to get subscription on our program. Subscription charges will only be &#8377 8377 /- for life time. Once you will make payment a verification call will be sent from admin if all the details entered are correct then your site will automatically be visible in our site.</p>
                <div class="btn1">
                    <a href="/login"> Partner with us</a>
                </div>
                </div>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/Bandbajabarat-103400548952496"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/business.bandbajabarat/"><i class="fa fa-instagram"></i></a>
                <a href="https://mobile.twitter.com/home"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-play"></i></a>
            </div>
        </div>
    </section>
    <section id="our-services" class="services-container">
        <div class="section-heading">
            <h1>Our Services</h1>
        </div>       
        <div class="slider1">
            <ul id="autoWidth" class="cs-hidden">
                <li class="item-d">
                <div class="box1">
                <div class="slide-img">
                <img alt="4" src="/images/audi.jpg">
                <div class="overlay">	
                <a href="/Cars" class="Explore-btn">Explore</a>	
                </div>
                </div>
                <div class="detail-box">
                <div class="type">
                <a href="/Cars">Car Booking</a>
                <span>Click on the "Car Booking" or Explore and to book car click on "Add to list" button then goto list page and checkout.</span>
                </div>
                    
                </div>
                
                </div>		
            </li>	
                <!--2------------------------------------>	
              <li class="item-b">
                <div class="box1">
                <div class="slide-img">
                <img alt="2" src="/images/pic5.jpeg">
                <div class="overlay">	
                <a href="/services" class="Explore-btn">Explore</a>	
                </div>
                </div>
                <div class="detail-box">
                <div class="type">
                <a href="/services">Flower decoration</a>
                <span>Click on the "Flower decoration" or hover over image to Explore all cars available and to book car click on "Book now" and checkout.</span>
                </div>
                    
                </div>
                
                </div>		
            </li>
                <!--3------------------------------------>	
              <li class="item-c">
                <div class="box1">
                <div class="slide-img">
                <img alt="3" src="/images/pic4.jpeg">
                <div class="overlay">	
                <a href="/services" class="Explore-btn">Explore</a>	
                </div>
                </div>
                <div class="detail-box">
                <div class="type">
                <a href="/services">Guest house</a>
                <span>Click on the "Guest house" or hover over image to Explore all cars available and to book car click on "Book now" and checkout.</span>
                </div>
                    
                </div>
                
                </div>		
            </li>
                <!--4------------------------------------>	
              <li class="item-a">
                <div class="box1">
                <div class="slide-img">
                <img alt="1" src="/images/img4.jpg">
                <div class="overlay">	
                <a href="/services" class="Explore-btn">Explore</a>	
                </div>
                </div>
                <div class="detail-box">
                <div class="type">
                <a href="/services">DJ Booking</a>
                <span>Click on the "Dj Booking" or hover over image to Explore all cars available and to book car click on "Book now" and checkout.</span>
                </div>
                    
                </div>
                
                </div>		
            </li>
                <!--5------------------------------------>	
              <li class="item-e">
                <div class="box1">
                <div class="slide-img">
                <img alt="5" src="/images/img3.jpg">
                <div class="overlay">	
                <a href="/services" class="Explore-btn">Explore</a>	
                </div>
                </div>
                <div class="detail-box">
                <div class="type">
                <a href="/services">Band & Bhangra </a>
                <span>Click on the "Band & Bhangra" or hover over image to Explore all cars available and to book car click on "Book now" and checkout.</span>
                </div>
                    
                </div>
                
                </div>		
            </li>
                <!--6------------------------------------>	
              <li class="item-f">
                <div class="box1">
                <div class="slide-img">
                <img alt="6" src="/images/roadlight.jpg">
                <div class="overlay">	
                <a href="/services" class="Explore-btn">Explore</a>	
                </div>
                </div>
                <div class="detail-box">
                <div class="type">
                <a href="/services">Road light</a>
                <span>“Learn to light a candle in the darkest moments of someone’s life. Be the light that helps others see; it is what gives life its deepest significance.”</span>
                </div>
                    
                </div>
                
                </div>		
            </li>
            </ul>
        </div>
    <div class="btn1">
        <a href="/services">Explore</a>
    </div>
    <hr>
</section>
<section id="contact" class="contact-us flex">
    <div class="contact-info-wrapper">
        <div class="section-heading">
            <h1>Contact us</h1>
        </div>       
        <div class="contact-info">
            <div>
                <div>
                    <img src="/icons/phone-2.svg" alt="">
                    <div>
                        <span>Call us:</span>
                        <span>(+91) 9455525307</span>
                    </div>
                </div>
                <div>
                    <img src="/icons/bag-2.svg" alt="">
                    <div>
                        <span>E-mail ::</span>
                        <span>business.bandbajabarat@gmail.com</span>
                    </div>
                </div>
                <div>
                    <img src="/icons/clock-2.svg" alt="">
                    <div>
                        <span>Working Hours:</span>
                        <span>Everyday (9:00am - 9:00pm)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14371.833257586577!2d81.102971!3d25.7719404!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44ff8af64544f59!2sBandBajaaBarat!5e0!3m2!1sen!2sin!4v1646038163931!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" ></iframe>
    </div>
</section>
<hr>
<section id="feedback">
    <div class="section-heading center">
        <h1>Help and feedback</h1>
    </div>
    
        <div id="contact-box">
            <form action="/index" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <label for="massage">massage:</label>
                    <textarea name="massage" id="massage" cols="30" rows="10" placeholder="Write your feedback"></textarea>
                </div>
                <div class="center">
                    <button class="btn">Submit Now</button>
                </div>
            </form>
        </div>
</section>
<footer>
    <div id="quick-links" class="container">
        <div class="box">
            <h3>Thank You</h3>
            <p>Thank you for visiting our site. We appriciate that. Visiting again.</p>
            <p>Download our app on from Play Store.</p>
            <div class="app">
                <a href=""><i class="fab fa-google-play"></i>Google Play</a>                
            </div>
        </div>
        <div class="box">
            <h3>Quik Links</h3>
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about-us">About us</a>
                </li>               
                <li>
                    <a href="#our-services">Our Services</a>
                </li>
                <li>
                    <a href="#contact">Contact us</a>
                </li>
                <li>
                    <a href="/login">Partner with us</a>
                </li>

            </ul>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
            <div>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/Bandbajabarat-103400548952496">
                            <img src="/icons/facebook.svg" alt="">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://mobile.twitter.com/home">
                            <img src="/icons/twitter.svg" alt="">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCobjerP9owAhWDwzZ7F08Bg">
                            <i class="fa fa-youtube"></i>
                            <span>Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/business.bandbajabarat/">
                            <img src="/icons/instagram.svg" alt="">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div>
        Copyright &copy; 2021 .All rights reserved by <a href="https://www.instagram.com/COD_Shivam/">BandBajaBarat</a>.
    </div>
</footer>
</div>
</div>
</div>
<script src="/js/slider.js"></script>
<script src="https://use.fontawesome.com/387de56559.js"></script>
<script src="/js/slider1.js"></script>
<script>
    (function($) { 
  $(function() { 

    //  open and close nav 
    $('#navbar-toggle').click(function() {
      $('nav ul').slideToggle();
    });


    // Hamburger toggle
    $('#navbar-toggle').on('click', function() {
      this.classList.toggle('active');
    });


    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.navbar-dropdown').slideToggle("slow");

      // Close dropdown when select another dropdown
      $('.navbar-dropdown').not($(this).siblings()).hide("slow");
      e.stopPropagation();
    });


    // Click outside the dropdown will remove the dropdown class
    $('html').click(function() {
      $('.navbar-dropdown').hide();
    });
  }); 
})(jQuery); 
</script>
</body>
</html>