*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', 'cursive';
    box-sizing: border-box;
}
body{
    background-color: #ecf0f3;
    overflow: hidden;
}
.body{
    margin: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Baloo Bhai 2', 'cursive';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}
.Warning{
    background:#ffdb96;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
}

.Warning.show{
    animation: show_slide 1s ease backwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.Warning.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.Warning .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}
.Warning .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}
.Warning .close-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}
.Warning .close-btn .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}
.Success{
    background:#DFF2BF;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #b5f548;
}

.Success.show{
    animation: show_slide 1s ease backwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.Success.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.Success .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0ee45;
    font-size: 30px;
}
.Success .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #b0ee45;
}
.Success .close-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #DFF2BF;
    padding: 20px 18px;
    cursor: pointer;
}
.Success .close-btn .fa-times{
    color:  #94d621;
    font-size: 22px;
    line-height: 40px;
}

.login-div{
    width: 300px;
    height: 500px;
    padding: 30px 7px 7px 7px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.logo{
    background: url(/images/logo.png) no-repeat center center/cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
}
.title{
    text-align: center;
    font-size: 18px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}
.sub-title{
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    letter-spacing: 3px;
}
.fields{
    width: 100%;
    padding: 20px 5px 5px 5px;
}
.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    color: #555;
    padding: 20px 10px 20px 5px;
    font-family: 'Baloo Bhai 2', 'cursive';
}
.username,
.password{
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #fff;
}
.fields svg{
    height: 15px;
    margin: 0 10px -3px 25px;
}
.login{
    outline: none;
    border: none;
    cursor: pointer;
    width:100%;
    height: 40px;
    background-color: #232B38;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Baloo Bhai 2', 'cursive';
    text-align: center;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
}
.login:hover{
    background-color: #f0f0f0;
    border :1px solid #232B38 ;
    color:#232B38;
    transition: all ease-in-out 0.3s;
}
.login:active{
    background-color: #5a6370;
    color: #fff;
}
.link{
    padding-top: 20px;
    text-align: center;

}
.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
}