body{
    -webkit-font-smoothing:antialiased;
    font-family: 'Baloo Bhai 2', 'cursive';
    }
    html{
        scroll-behavior: smooth;
    }
    /* css reset */
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    /*css variable*/
    :root{
        --navbar-height: 59px;
        --secondary-color:#232B38;
        --pure:#FEFEFE;
        --footer:#2D333F;
    }
    .navigation {
        height: 55px;
        background: linear-gradient(45deg, #232B38, #2D333F);
    }
    .sticky {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
      }
    .brand {
        position: absolute;
        padding-left: 10px;
        float: left;
        line-height: 55px;
        text-transform: uppercase;
        font-size: 1.4em;
    }
    .brand a, .brand a:visited {
        color: #ffffff;
        text-decoration: none;
    }
    .nav-container {
        max-width: 1000px;
        margin: 0 auto;
    }
    nav {
        float: right;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        float: left;
        position: relative;
    }
    nav ul li a,nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 55px;
        color: #fff;
        background: #262626 ;
        text-decoration: none;
    }
    nav ul li a{
        background: transparent;
        color: #FFF;
    }
    nav ul li a:hover, nav ul li a:visited:hover {
        background: #EEBF00;
        color: #ffffff;
    }
    .navbar-dropdown li a{
        background: #EEBF00;
    }
    nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: ' \025BE';
    }
    nav ul li ul li {
        min-width: 190px;
    }
    nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
    }
    .navbar-dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        background: #fff;
        box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
    }
    /* Mobile navigation */
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        height: 55px;
        width: 70px;
    }
    @media only screen and (max-width: 800px) {
        .nav-mobile {
            display: block;
       }
        nav {
            width: 100%;
            padding: 55px 0 15px;
       }
        nav ul {
            display: none;
       }
        nav ul li {
            float: none;
       }
        nav ul li a {
            padding: 15px;
            line-height: 20px;
            background: #262626;
       }
        nav ul li ul li a {
            padding-left: 30px;
       }
        .navbar-dropdown {
            position: static;
    }
    }
    @media screen and (min-width:800px) {
        .nav-list {
            display: block !important;
       }
    }
    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 15px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }
    #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    #navbar-toggle span:before {
        top: -10px;
    }
    #navbar-toggle span:after {
        bottom: -10px;
    }
    #navbar-toggle.active span {
        background-color: transparent;
    }
    #navbar-toggle.active span:before, #navbar-toggle.active span:after {
        top: 0;
    }
    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }
    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 400px;
    height: 100%;
    margin-top: 50px;
    border-radius: 3px;
}
.container h1{
    padding: 12px;
    font-size: 20px;
}
.container h2{
    padding: 12px;
    font-size: 16px;
}
.content-body{
    border: 2px solid #838080;
    height: 100%;
}
.list-group{
    margin: 10px;
}
.list-item{
    display: flex;
    justify-content: space-between;
    border: 2px solid #838080;
    list-style: none;
    padding: 8px;
}
.list-item span:nth-child(1){
    font-size: 16px;
}
.badge{
    display: flex;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    color: #fff;
    background-color: #534b4b;
}
.footer{
    border-top: 2px solid #838080;
    padding: 8px ;
    background-color: #f0f0f0;
    font-size: 16px;
}
@media(max-width:410px){
    .container{
        width: 300px;
    }
}