*{
    margin:0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', 'cursive';
}
body{
    background-color: #ecf0f3;
    overflow: hidden;
}
.Warning{
    background:#ffdb96;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
}

.Warning.show{
    animation: show_slide 1s ease backwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.Warning.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.Warning .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}
.Warning .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}
.Warning .close-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}
.close-btn .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}
.close-btn:hover{
    background-color: #ffc766;
}
.Success{
    background:#DFF2BF;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #b5f548;
}

.Success.show{
    animation: show_slide 1s ease backwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.Success.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.Success .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0ee45;
    font-size: 30px;
}
.Success .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #b0ee45;
}
.Success .close-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    box-shadow: 10px 10px 18px -8px #cbced1,
    -10px -10px 24px #FFFFFF;
    margin: 4rem 2rem;
    border-radius: 20px;
    padding: 40px 20px;
}
.signup h3{
    font-size: 30px;
    letter-spacing: 2px;
    margin: 12px 0px;
}
form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
form label{
    display: flex;
    flex-direction: column;
    margin: 12px;
}
form label span{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}
form label input{
    width: 300px;
    height: 32px;
    margin-right: 18px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 0px 15px;
    border-radius: 8px;
    background-color: #ecf0f3;
    box-shadow: 3px 3px 8px #cbced1,
    -5px -5px 10px #FFFFFF ;
}
form label input:focus{
    box-shadow: inset 5px 5px 10px #cbced1,
    inset -5px -5px 10px #FFFFFF;
}
.checkbox{
    margin: 20px 6rem;
    display: flex;
    align-items: center;

}
.checkbox input{
    height: 16px;
    width: 16px;
    margin: 0 12px;
}
button{
    padding: 10px 65px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    box-shadow: 3px 3px 8px #cbced1,
    -5px -5px 10px #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
button:hover{
    box-shadow: inset 5px 5px 10px #cbced1,
    inset -5px -5px 10px #FFFFFF;
}
.or{
    margin: 22px 0px;
    font-weight: bold;
}