*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhai 2', 'cursive';
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #22527b;
    padding: 10px;
}
.navbar img{
    height: 50px;
  }
.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.content{
    border: 2px solid #afaeae;
    border-radius: 7px;
    width: 750px;
    height: 450px;
}
.card-header{
    border-bottom: 2px solid #afaeae;
    width: 100%;
    font-size: 16px;
    background-color: #f0f0f0;
    padding: 5px;
    padding-left: 15px;
    font-weight: bold;
}
.card-text{
    font-size: 14px;
    padding: 5px;
    padding-left: 15px;
}
.item{
    display: flex;
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
}
.rcpt-head{
    font-size: 14px;
    font-weight: bolder;
}
.rcpt-value{
    font-size: 12px;
    padding-left: 40px;
}
@media(max-width:520px){
    .navbar img{
        height: 30px;
    }
    .item{
        flex-direction:column ;
        padding-left: 10px;

    }
    .rcpt-value{
        padding-left: 5px;
    }
    
  }
@media(max-width:420px){
    .content{
        width: 100%;
        height: 100%;
    }
    .rcpt-value{
        font-size: 10px;
    }
}